body {
    font-family: 'Roboto', sans-serif;
    background-color: black;  
}

#parent_div {
    position: relative;
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(bgimg.jpg);
    filter: blur(3px);
}

#calculator {
    position: relative;
    width: 320px;
    height: 520px;
    background-color:black;
    margin: 0 auto;
}
