* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.menu-container {
    display:         flex;
    justify-content: flex-end;
    align-items:     center;

    color: #f9faf8;
    background-color: #1f2937;
    width: auto;
    height: 48px;
    border: 1px red solid; /**for debugging**/
    padding: 5px; /** this...**/
}

.logo, .spacer, .links {
    border: 1px red solid;
    gap: 10px
}

.links {
    display: flex;
}

.spacer {
    /** uncomment before saving -> visibility: hidden;**/
    flex-grow: 1;
}
  