* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.menu-container {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20=0px 0;
    height: 100px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    /*end of flex*/
    width: 1300px;
    margin: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
}